.header {
    position: fixed;
    width: 100%;
    background-color: #777777;
    height: 160px;
}


.gallery {
    padding-top: 160px;
    padding-bottom: 50px;
    max-width: 2000px;
    margin: auto;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.gallery .images img {
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 12px;
}

.footer {
    position: fixed;
    width: 100%;
    background-color: #777777;
    bottom: 0;
    height: 50px;
}
